
<% if current_user %>
  <footer class="footer">
    <div class="container">
      <ul class="nav justify-content-center nav-fill">
        <li class="nav-item">            
          <%= link_to root_path, class: "nav-link" do %>
            <%= fa_icon "camera-retro" %><br>
            <span>Overview</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= render "receipts/camera_button" %>
        </li>
        <li class="nav-item">            
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <%= fa_icon "camera-retro" %><br>
            <span>Account</span>
          <% end %>
        </li>
      </ul>
    </div>
  </footer>
<% end %>